h1 {
    font: 16px Arial;
}
h2 {
    font: 14px Arial;
}
h3 {
    font: 14px Arial;
}
h4, p {
    font: 12px Arial;
}
html {
    background-color: white;
    color: black;
}
ul,ol,li {
    font: 14px Arial;
}
ul {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
th {
    font: 14px Arial;
}
tr {
    font: 14px Arial;
}
